@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARS */
:root {
	--black      : #000;
	--white      : #FFF;

	--blue       : #0065FC;
	--light-blue : #DEEBFF;

	--grey       : #7F7F7F;
	--light-grey : #D2D2D2;
	--bg-grey    : #F2F2F2;

	--radius     : 1.5rem;
}

/* FONT & RESET */
* {
	box-sizing  : border-box;
	font-family : Raleway, sans-serif;
	font-weight : normal;
	margin      : 0;
	padding     : 0;
}
b {
	font-weight : bold;
}

/* MANAGE SIZES WITH REM */
html {
	font-size : 62.5%;
}

/* DOCUMENT */
body {
	background-color : var(--white);
	color            : var(--black);
	font-size        : 2rem;
	width            : 100vw;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
	font-weight : bold;
}
h1 {
	margin-bottom : 1.5rem;
}
h1, h2 {
	font-size : 2.2rem;
}
h3, h4 {
	font-size : 1.8rem;
}

/* SUB-HEADING */
small {
	font-size     : 1.5rem;
	margin-bottom : .5rem;
}

/* LINKS */
a {
	text-decoration : none;
	color           : var(--black);
	font-size       : 1.6rem;
}
a:hover {
	text-decoration : underline;
}

/* DEV PART */
.text-grey {
	color : var(--grey);
}
.text-blue {
	color : var(--blue);
}
.text-white {
	color : var(--white);
}

.bold {
	font-weight : bold;
}

/* CARDS */
.card {
	background-color : var(--white);
	border-radius    : calc(var(--radius) * 1.5);
	box-shadow       : 0 0 1.5rem rgba(0, 0, 0, .1);
	transition       : box-shadow .25s;
	padding          : .5rem;
	display          : flex;
	flex-flow        : column nowrap;
	margin-bottom    : .5rem;
}
.card-thumbnail {
	display : block;
	height  : 30vw;
}
.card-thumbnail > img {
	width           : 100%;
	height          : 100%;
	object-fit      : cover;
	object-position : center center;
	border-radius   : calc(var(--radius) * 1.2) calc(var(--radius) * 1.2) 0 0;
}
.card-container {
	display         : flex;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	padding         : 1rem 1rem .5rem 1rem;
}
.card-title {
	font-size     : 1.6rem;
	font-weight   : bold;
	margin-bottom : .5rem;
}
.rating {
	display         : flex;
	flex-flow       : row nowrap;
	flex-grow       : 1;
	justify-content : flex-start;
	align-items     : flex-end;
	font-size       : 1.2rem;
	margin-top      : .2rem;
}
.fa-star {
	color        : var(--light-grey);
	margin-right : .1rem;
}
.fa-star.full {
	color : var(--blue);
}

.card.card-horizontal {
	flex-flow       : row nowrap;
	justify-content : flex-start;
	align-items     : stretch;
}
.card.card-horizontal > .card-thumbnail {
	height       : 36vw;
	margin-right : 1rem;
}
.card.card-horizontal > .card-thumbnail > img {
	width         : 32vw;
	height        : 36vw;
	border-radius : calc(var(--radius) * 1.2) 0 0 calc(var(--radius) * 1.2);
}
.card.card-horizontal > .card-container {
	padding-bottom : 1rem;
}

.card-link {
	display       : flex;
	flex-flow     : column nowrap;
	margin-bottom : .5rem;
}
.card-link:hover > .card {
	box-shadow : 0 0 10px rgba(0, 0, 0, .3);
}
.card-link:hover {
	text-decoration : none;
}

.card.card-full {
	flex-grow     : 1;
	max-height    : 100%;
	padding       : 0 0 .5rem 0;
	margin-bottom : 1.5rem;
}
.card.card-full > .card-thumbnail {
	height : 36vw;
}
.card.card-full > .card-thumbnail > img {
	object-position : center 18%;
}
.card.card-full .card-title {
	margin  : 1rem 0 .8rem 0;
	padding : 0 1rem;
}

/* NAV-BAR */
.nav-bar {
	padding : 3rem 1rem 1rem 1rem;
}
.nav-bar-container {
	display         : flex;
	flex-flow       : row wrap;
	flex-grow       : 1;
	justify-content : space-between;
}
.nav-bar-brand {
	padding   : 0 .5rem;
	flex-grow : 1;
}
.nav-bar-brand > img {
	height : 6rem;
}
.nav-bar-link {
	display         : flex;
	flex-flow       : column nowrap;
	justify-content : center;
	color           : var(--blue);
	padding         : 1rem 1.5rem;
}
.nav-bar-group {
	margin          : 1rem -1rem 0;
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : center;
	flex-grow       : 1;
	width           : 100%;
}
.nav-bar-link.anchor {
	width         : 50%;
	text-align    : center;
	margin        : 0;
	padding       : 1.5rem;
	border-bottom : 3px solid var(--bg-grey);
	color         : var(--black);
}
.nav-bar-link.anchor.active {
	color        : var(--blue);
	border-color : var(--blue);
}
.nav-bar-link.anchor:hover {
	color           : var(--blue);
	text-decoration : none;
}

/* CONTENT */
body > main {
	--horizontal-padding : 2rem;

	display              : flex;
	flex-flow            : column nowrap;
	justify-content      : flex-start;
	align-items          : stretch;
	padding              : 0 var(--horizontal-padding);
	overflow             : hidden;
}

/* HEADER */
#header {
	display    : flex;
	flex-flow  : column nowrap;
	margin-top : 2rem;
}
#header > small {
	font-size : 1.6rem;
}

/* SEARCH FORM */
#search-form {
	margin    : 3rem 0;
	display   : flex;
	flex-flow : row nowrap;
}
#search-form > label {
	display          : flex;
	flex-flow        : column nowrap;
	justify-content  : center;
	background-color : var(--bg-grey);
	padding          : 1rem 2rem;
	border-radius    : var(--radius) 0 0 var(--radius);
}
#search-form > input[type='text'] {
	border-color : var(--bg-grey);
	border-style : solid;
	border-width : 2px 0;
	padding      : 1.2rem 1.5rem;
	font-weight  : bold;
	outline      : none;
	font-size    : 1.8rem;
	max-width    : 250px;

	width        : calc(100% - 4rem - 4rem);
}
#search-form > button[type='submit'] {
	background-color : var(--blue);
	color            : var(--white);
	border           : none;
	margin-left      : -1rem;
	padding          : 1rem 1.7rem;
	border-radius    : var(--radius);
	font-weight      : bold;
	font-size        : 1.5rem;
	cursor           : pointer;
}

/* FILTERS SECTION */
#filters-section {
	display   : flex;
	flex-flow : column nowrap;
}
#filters-section > :first-child {
	margin-bottom : 1.5rem;
}
.filters-container {
	display         : flex;
	flex-flow       : row wrap;
	justify-content : flex-start;
	margin-bottom   : 3rem;
}
.filter {
	display          : inline-flex;
	flex-flow        : row nowrap;
	border           : 2px solid var(--light-grey);
	background-color : var(--white);
	border-radius    : calc(var(--radius) * 2);
	flex-shrink      : 1;
	padding          : 0 2rem 0 0;
	margin           : 0 .9rem 1rem 0;
	cursor           : pointer;
	transition       : border-color .25s;
}
.filter-text {
	font-size   : 1.5rem;
	align-self  : center;
	font-weight : bold;
	text-align  : left;
	white-space : nowrap;
}

.filter-icon {
	--size              : 5rem;
	background-color    : var(--light-blue);
	border-radius       : calc(var(--radius) * 2);
	width               : var(--size);
	height              : var(--size);
	margin              : -2px 1rem -2px -2px;
	font-size           : 2rem;
	color               : var(--blue);
	transition-property : background-color, color, width, height, margin, font-size;
	transition-duration : .3s;
	position            : relative;
}
.filter-icon .fa,
.filter-icon .cross-icon::before {
	position        : absolute;
	top             : 0;
	bottom          : 0;
	left            : 0;
	right           : 0;
	display         : flex;
	flex-flow       : column;
	justify-content : center;
	align-items     : center;
	transition      : opacity .3s;
	z-index         : 1;
}
.filter-icon .cross-icon {
	opacity : 0;
}
.filter-icon .cross-icon::before {
	content : '\f00d';
}

.filter:hover,
.filter.active {
	flex-flow    : row nowrap;
	border-color : var(--grey);
	padding      : 0 2rem 0 0;
	margin       : 0 .9rem 1rem 0;
}
.filter:hover .filter-icon,
.filter.active .filter-icon{
	--size           : 5.2rem;
	background-color : var(--blue);
	margin           : calc(-2px - .1rem) calc(1rem - .1rem) calc(-2px - .1rem) calc(-2px - .1rem);
	padding          : 1.4rem;
	font-size        : 2.2rem;
	color            : var(--light-blue);
}
.filter.active .filter-icon:hover .cross-icon{
	opacity : 1;
}
.filter.active .filter-icon:hover .fa:first-child{
	opacity : 0;
}

.fa-heart::before {
	padding-top : 2px;
}

.search-info {
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : flex-start;
	align-items     : flex-start;
	margin-bottom   : 3rem;
}
.search-info > .fa-info {
	color            : var(--blue);
	background-color : var(--white);
	border           : .2rem solid var(--bg-grey);
	border-radius    : calc(var(--radius) * 2);
	font-size        : 1.2rem;
	padding          : .5rem .9rem;
	margin           : .1rem 1rem 0 0;
	text-align       : center;
}
.search-info > :last-child {
	font-size   : 1.6rem;
	padding-top : .5rem;
}

/* FIRST ROW */
#first-row {
	display       : flex;
	flex-flow     : column nowrap;
	justify-items : flex-start;
	align-items   : stretch;
}

/* POPULAR LODGING SECTION */
#popular-lodging {
	display          : flex;
	flex-flow        : column nowrap;
	background-color : var(--bg-grey);
	padding          : 3rem 2rem;
	margin           : 0 -2rem;
}
#popular-lodging > :first-child {
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : space-between;
	align-items     : baseline;
	margin          : 1rem 0;
}
#popular-lodging > :last-child {
	display   : flex;
	flex-flow : column nowrap;
}

.read-more-link {
	font-size   : 1.8rem;
	font-weight : bold;
	margin-top  : 2rem;
}

/* LODGING SECTION */
#lodging, #activites {
	display   : flex;
	flex-flow : column nowrap;
	padding   : 2rem 2rem;
	margin    : 0 -2rem 1rem -2rem;
}
#lodging > :first-child {
	display    : flex;
	flex-flow  : row nowrap;
	margin-top : 1rem;
}
#lodging-cards {
	display         : flex;
	flex-flow       : column nowrap;
	justify-content : flex-start;
	align-items     : stretch;
}

/* ACTIVITIES SECTION */
#activites {
	margin-bottom : 1.5rem;
}
#cards-grid {
	display   : flex;
	flex-flow : column nowrap;
}
#cards-grid > .card-link:nth-child(2) > .card.card-full > .card-thumbnail > img {
	object-position : center 42%;
}

#popular-lodging > :first-child,
#lodging > :first-child,
#activites > :first-child {
	margin-bottom : 2.5rem;
}

#popular-lodging > :last-child > :last-child,
#lodging > :last-child > :last-child,
#activites > :last-child > :last-child {
	margin-bottom : 0;
}

/* FOOTER */
#footer {
	background-color : var(--bg-grey);
	margin           : 0 -2rem;
	padding          : 5rem 3rem;
	display          : flex;
	flex-flow        : column nowrap;
}
.footer-col {
	margin-bottom : 3rem;
}
.footer-col > :first-child {
	margin-bottom : 2rem;
}
.footer-col-links > * {
	display : block;
	margin  : 1rem 0;
}
.footer-col:last-child {
	margin-bottom : 0;
}

/* Zoom-out trick for ultra-small devices */
@media (max-width : 374px) {
	html {
		font-size : 2.7vw !important;
	}
}

/* TABLET */
@media (min-width : 481px) {

	/* TABLET ACTIVITIES GRID */
	#cards-grid {
		display               : grid;
		grid-template-columns : repeat(2, 1fr);
		grid-template-rows    : repeat(20, 1fr);
		grid-gap              : 3rem;
		max-height            : 900px;
	}
	#cards-grid > .card-link {
		margin          : 0;
		flex-direction  : column;
		justify-content : stretch;
	}
	#cards-grid .card.card-full {
		margin-bottom : 0;
	}
	#cards-grid > .card-link > .card.card-full > .card-thumbnail {
		flex-grow  : 1;
		max-height : calc(100% - 5.5rem);
	}
	#cards-grid > .card-link > .card.card-full > .card-thumbnail > img {
		object-fit      : cover;
		object-position : center center;
	}
	#cards-grid > .card-link:nth-child(1) {
		grid-row : 1 / 11;
	}
	#cards-grid > .card-link:nth-child(2) {
		grid-row : 1 / 7;
	}
	#cards-grid > .card-link:nth-child(3) {
		grid-row : 7 / 11;
	}
	#cards-grid > .card-link:nth-child(4) {
		grid-row : 11 / 21;
	}
	#cards-grid > .card-link:nth-child(5) {
		grid-row : 11 / 17;
	}
	#cards-grid > .card-link:nth-child(6) {
		grid-row : 17 / 21;
	}
}

/* DESKTOP */
@media (min-width : 769px) {

	:root {
		--spacing-1           : 2rem;
		--spacing-2           : calc(2 * var(--spacing-1));

		--spacing-n1          : calc(-1 * var(--spacing-1));
		--spacing-n2          : calc(2 * var(--spacing-n1));

		--body-padding        : calc(2 * var(--spacing-2));

		--lodging-section     : calc(70vw - var(--body-padding));
		--loding-section-item : calc(var(--lodging-section) / 3);
	}

	/* DESKTOP NAV-BAR */
	.nav-bar {
		padding : 0 3rem;
	}
	.nav-bar-brand {
		display         : flex;
		flex-flow       : row nowrap;
		justify-content : flex-start;
		align-items     : flex-end;
		padding-bottom  : 1rem;
	}
	.nav-bar-brand > img {
		height : 4rem;
	}
	.nav-bar-link {
		order   : 1;
		padding : calc(4rem + 3px) 2.5rem 3rem 2.5rem;
	}
	.nav-bar-group {
		order           : 0;
		width           : auto;
		margin          : 0;
		flex-grow       : 0;
		justify-content : flex-end;
	}
	.nav-bar-link.anchor {
		padding       : 4rem 2.5rem 3rem 2.5rem;
		width         : auto;
		border-top    : 3px solid var(--light-grey);
		border-bottom : none;
		transition    : border .25s;
	}
	.nav-bar-link.anchor:hover {
		color           : var(--blue);
		border-color    : var(--blue);
		text-decoration : none;
	}

	/* CONTENT */
	body > main {
		padding : 0;
	}
	body > main > *:not(#footer) {
		width        : 100%;
		padding      : 0 var(--spacing-2) !important;
		margin-left  : 0 !important;
		margin-right : 0 !important;
	}

	/* FIRST ROW SECTION */
	#first-row {
		margin-bottom : var(--spacing-2);
	}
	#lodging, #popular-lodging {
		margin : 0;
		width  : 100%;
	}

	/* LODGING SECTION */
	#lodging {
		background-color : var(--bg-grey);
		border-radius    : var(--radius);
		padding          : var(--spacing-2);
	}
	#lodging :first-child {
		margin-top : 0;
	}
	#lodging-cards {
		flex-flow       : row wrap;
		justify-content : space-between;
		justify-items   : stretch;
		align-items     : stretch;
		margin          : 0 calc(.5 * var(--spacing-n1));
	}
	#lodging-cards > * {
		max-width : 50%;
		width     : auto;
		padding   : 0 calc(.5 * var(--spacing-1)) calc(.5 * var(--spacing-1)) calc(.5 * var(--spacing-1));
	}
	#lodging-cards > * > * {
		flex-grow : 1;
	}
	#lodging-cards > * .card-thumbnail {
		height : 110px;
	}
	#lodging-cards > :nth-child(3n+3) {
		margin-right : 0;
	}
	#lodging-cards > :nth-last-child(-n+3) {
		margin-bottom : 0;
	}

	/* POPULAR LODGING SECTION */
	#popular-lodging {
		border-radius : var(--radius);

		margin        : 0 0 var(--spacing-2);
		padding       : var(--spacing-2);
	}
	#popular-lodging > :first-child {
		margin-top : 0;
	}
	#popular-lodging-cards {

	}
	#popular-lodging-cards > * {
		/*max-height    : calc(.5 * var(--loding-section-item-width));*/
		margin-bottom : calc(.75 * var(--spacing-1));
		width         : 100%;
	}
	#popular-lodging-cards > :last-child {
		margin-bottom : 0;
	}
	#popular-lodging-cards > * .card-thumbnail {
		width     : 32%;
		min-width : 32%;
		height    : 133px;
	}
	#popular-lodging-cards > * .card-thumbnail img {
		width  : 100%;
		height : 133px;
	}

	.read-more-link {
		align-self : flex-start;
	}

	#activites {
		margin-bottom : var(--spacing-2);
	}

	#footer {
		flex-flow       : row nowrap;
		justify-content : space-between;
		align-items     : flex-start;
		margin          : 0;
		padding         : var(--spacing-2);
	}
	.footer-col {
		display         : flex;
		flex-flow       : column nowrap;
		width           : 33%;
		justify-content : center;
		margin-bottom   : 0;
	}
}
@media (min-width : 1025px) {
	#first-row {
		flex-flow     : row nowrap;
		margin-bottom : var(--spacing-2);
	}
	#lodging, #popular-lodging {
		margin : 0;
	}
	#lodging {
		order        : -1;
		width        : 65%;
		margin-right : var(--spacing-2);
	}
	#lodging .card-container {
		flex-grow : 1;
	}
	#lodging-cards > * {
		max-width : 33%;
	}
	#popular-lodging {
		width  : 35%;
		margin : 0;
	}

	/* DESKTOP ACTIVITIES GRID */
	#cards-grid {
		grid-template-columns : repeat(4, 1fr);
		grid-template-rows    : repeat(10, 1fr);
		max-height            : 450px;
	}
	#cards-grid > .card-link:nth-child(3n+1) {
		grid-row : 1 / 11;
	}
	#cards-grid > .card-link:nth-child(2) {
		grid-row : 1 / 7;
	}
	#cards-grid > .card-link:nth-child(3) {
		grid-row : 7 / 11;
	}
	#cards-grid > .card-link:nth-child(5) {
		grid-row : 1 / 6;
	}
	#cards-grid > .card-link:nth-child(6) {
		grid-row : 6 / 11;
	}
	#cards-grid > .card-link {
		margin          : 0;
		flex-direction  : column;
		justify-content : stretch;
	}
	#cards-grid > .card-link > .card.card-full > .card-thumbnail {
		flex-grow  : 1;
		max-height : calc(100% - 5.5rem);
	}
	#cards-grid > .card-link > .card.card-full > .card-thumbnail > img {
		object-fit      : cover;
		object-position : center center;
	}
}
