@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--black      : #000;
	--white      : #FFF;

	--blue       : #0065FC;
	--light-blue : #DEEBFF;

	--grey       : #7F7F7F;
	--bg-grey    : #F2F2F2;
}

* {
	box-sizing  : border-box;
	font-family : Raleway, sans-serif;
	font-weight : normal;
	margin      : 0;
	padding     : 0;
}

html {
	font-size: 62.5%;
}
html, body {
	margin           : 0;
	background-color : var(--white);
	color            : var(--black);
}

.flex-horizontal {
	display        : flex;
	flex-direction : row;
}
.flex-horizontal.reverse {
	flex-direction : row-reverse;
}

.justify-space-between {
	justify-content : space-between;
}

.grow {
	flex-grow : 1;
}

/* NAV-BAR */
a {
	text-decoration : none;
	color           : var(--black);
}
nav a {
	margin  : 0;
	padding : 1rem;
}
nav a.anchor.active {
	border-top : 2px solid var(--blue);
	color      : var(--blue);
}
