@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--black      : #000;
	--white      : #FFF;

	--blue       : #0065FC;
	--light-blue : #DEEBFF;

	--grey       : #7F7F7F;
	--bg-grey    : #F2F2F2;

	--radius     : 1.5rem;
}

* {
	box-sizing  : border-box;
	font-family : Raleway, sans-serif;
	font-weight : normal;
	margin      : 0;
	padding     : 0;
}

html {
	font-size : 62.5%;
}
body {
	margin           : 0;
	padding          : 0;
	background-color : var(--white);
	color            : var(--black);
	font-size        : 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight : bold;
	margin      : .2rem 0;
	padding     : 0;
}
h1 {
	font-size     : 2rem;
	margin-bottom : 1rem;
}

small {
	font-size : 1.5rem;
}

.text-grey {
	color : var(--grey);
}
.text-blue {
	color : var(--blue);
}
.text-white {
	color : var(--white);
}

.bold {
	font-weight : bold;
}

.flex-vertical {
	display        : flex;
	flex-direction : column;
}

.flex-horizontal {
	display        : flex;
	flex-direction : row;
}
.flex-horizontal.reverse {
	flex-direction : row-reverse;
}

.wrap {
	flex-wrap : wrap;
}

.justify-center {
	justify-content : center;
}
.justify-end {
	justify-content : flex-end;
}
.justify-space-between {
	justify-content : space-between;
}

.align-start {
	align-items : flex-start;
}
.align-end {
	align-items : flex-end;
}

.align-self-end {
	align-self : flex-end;
}

a {
	text-decoration : none;
	color           : var(--black);
}

/* NAV-BAR */
.nav-bar {
	padding : 3rem 1rem 1rem 1rem;
}
.nav-bar > .nav-bar-container {
	display         : flex;
	flex-flow       : row wrap;
	flex-grow       : 1;
	justify-content : space-between;
}
.nav-bar > .nav-bar-container > .nav-bar-brand {
	padding   : 0 .5rem;
	flex-grow : 1;
}
.nav-bar > .nav-bar-container > .nav-bar-link {
	color      : var(--blue);
	padding    : 1rem 1.5rem;
	align-self : center;
}
.nav-bar > .nav-bar-container > .nav-bar-group {
	margin          : 1rem -1rem 0;
	display         : flex;
	flex-flow       : row nowrap;
	justify-content : center;
	flex-grow       : 1;
	width           : 100%;
}
.nav-bar > .nav-bar-container > .nav-bar-group > a {
	width         : 50%;
	text-align    : center;
	margin        : 0;
	padding       : 1.5rem;
	border-bottom : 3px solid var(--bg-grey);
}
.nav-bar > .nav-bar-container > .nav-bar-group > a.active {
	color        : var(--blue);
	border-color : var(--blue);
}
.nav-bar > .nav-bar-container > .nav-bar-group > a:hover {
	color : var(--blue);
}

body > main {
	padding : 3rem;
}

/* SEARCH FORM */
#search-form {
	margin-top : 3rem;
	display    : flex;
	flex-flow  : row nowrap;
}
#search-form > label {
	background-color : var(--bg-grey);
	padding          : 1rem 2rem;
	border-radius    : var(--radius) 0 0 var(--radius);
}
#search-form > input[type='text'] {
	border-color : var(--bg-grey);
	border-style : solid;
	border-width : 2px 0;
	padding      : 1.2rem 1.5rem;
	font-weight  : bold;
	outline      : none;
	font-size    : 1.8rem;

	width        : calc(100% - 4rem - 4rem);
}
#search-form > button[type='submit'] {
	background-color : var(--blue);
	color            : var(--white);
	border           : none;
	margin-left      : -1rem;
	padding          : 1rem 1.7rem;
	border-radius    : var(--radius);
	font-weight      : bold;
	font-size        : 1.5rem;
	cursor           : pointer;
}
